@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }

    .about-containers {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    #experience,
    .experience-details-container {
        margin-top: 2rem;
    }

    #profile,
    .section-container {
        display: block;
    }

    .arrow {
        display: none;
    }

    section,
    .section-container {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .section__pic-container img {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .section__text {
        margin-top: 7rem;
        margin-bottom: 6rem;
    }

    .about-containers {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {
    #contact {
        height: 60vh;
    }

    footer {
        height: 10vh;
    }

    #profile {
        height: 70ch;
        margin-bottom: 0;
        padding-bottom: 20px;
    }

    #about {
        padding: 15px;
    }

    article {
        font-size: 0.7rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-container,
    .container-info-upper-container,
    .btn-container {
        flex-wrap: wrap;

    }

    .article-container {
        flex-direction: row;
    }

    .contant-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }

    .experience-sub-title {
        font-size: 1.25rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .about-pic {
        width: 300px;
        height: 275px;
    }

    .section__pic-container-2 {
        margin: auto 0;
    }

    #card-container {
        display: block;
    }

    .project-card {
        width: 310px;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 5px;
        background-color: aliceblue;
        margin: 10px auto;

    }
}